header{
    background-color: aqua;
    text-align: center;
    padding: 15px;
    font-family: cursive;
    font-size: larger;
}

nav ul{
    background-color: bisque;
    display: flex; 
    flex-direction: row-reverse;
    padding-top: 30px;
    margin-top: 0%;
   
    
}
nav a{
    text-decoration: none;
    margin-left: 60px;
    margin-right: 10px;
}

nav ul li{
    list-style: none;
    margin-bottom: 10px;
}
footer{
    background-color: red;
    margin-top: 50%;
}
h1{
    color: paleturquoise;
}